@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --gray: #ddd;
    --black: #ddd;
    --background: #171717;
    --text: #fff;
    --red: #DC4A4A;
    --red-highlight: #fa6868;
    --green: #34BE67;
    --green-highlight: #92EBB3;
    --yellow: #CBAD38;
    --yellow-highlight: #FCE073;
    --blue: #3B7AC9;    
    --blue-highlight: #A0C9FC;
}
@media only screen and (max-width: 1000px){
    #gameContainer{
        margin: 0 0 0px 0px;
    }
}
@media only screen and (max-width: 600px){
    #hero-container{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 600px){
    #text-container{
        display: flex;
        flex-direction: row;
        gap: 140px;
        margin: 10px 0 20px 50px;
    }
    #logo{
        font-size: 30px;
    }
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    user-select: none;
}   
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: var(--background);
    transition: all 0.6s ease;
}
nav{
    display: flex;
    margin: 2.5rem;
    text-align: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    justify-content: end;
    font-size: 20px;
    margin: 8px;
}
#dropDown-btn{
    cursor: pointer;
}
#dropDown-btn:hover{
    color: #fca5a5;
    transform: translateY(0.25rem);
    transform: scale(1.4);
    transition: all 0.3s;
}
.dropDown{
    border-radius: 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: var(--black);
    position: fixed;
    width: 256px;
    height: 384px ;
    display: none;
    color: var(--background);
}
.social{
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    margin: 80px 30px 20px 30px;
}
.social a{
    cursor: pointer;
}
.social a:hover{
    color: #7dd3fc;
    transform: translateY(0.25rem);
    transform: scale(1.4);
    transition: all 0.3s;
}
.portifolio-link{
    cursor: pointer;
}
.portifolio-link:hover{    
    color: #7dd3fc;
    transform: translateY(0.25rem);
    transform: scale(1.2);
    transition: all 0.3s;
}
.credits{
    margin-top: 120px;
    font-size: 0.875rem; 
    line-height: 1.25rem; 
    text-align: center;
    color: var(--background);
}
.logo{
    font-size: 40px;
    font-weight: 300;
    color: var(--text);
}
.btn{
    color: var(--background);
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--black);
}
.btn:hover{
    transform: translateY(0.25rem);
    transform: scale(1.1);
    transition: all 0.3s;
    animation-duration: 0.5s;
}
#menu i{
    text-align: center;
    line-height: 50px;
}
#menu{  
    display: flex;
}
.heroContainer{
    display: flex;

}
#green{
    width: 0;
    height: 0;
    border-right: 150px solid var(--green);
    border-bottom: 150px solid var(--green);
    border-radius: 20%;
}
#green1{
    width: 0;
    height: 0;
    border-right: 20px solid var(--green);
    border-bottom: 20px solid var(--green);
    border-radius: 20%;
}
#red {
    width: 0;
    height: 0;
    border-top: 150px solid var(--red);
    border-right: 150px solid var(--red);
    border-radius: 20%;
}
#red1{
    width: 0;
    height: 0;
    border-right: 20px solid var(--red);
    border-bottom: 20px solid var(--red);
    border-radius: 20%;
}
#blue{
    width: 0;
    height: 0;
    border-left: 150px solid var(--blue);
    border-bottom: 150px solid var(--blue);
    border-radius: 20%;
}
#blue1{
    width: 0;
    height: 0;
    border-right: 20px solid var(--blue);
    border-bottom: 20px solid var(--blue);
    border-radius: 20%;
}
#yellow{
    width: 0;
    height: 0;
    border-right: 150px solid var(--yellow);
    border-bottom: 150px solid  var(--yellow);
    border-radius: 20%;
}
#yellow1{   
    width: 0;
    height: 0;
    border-right: 20px solid var(--yellow);
    border-bottom: 20px solid var(--yellow);
    border-radius: 20%;
}
.textContainer{
    display: flex;
    flex-direction: column;
    margin: 150px 0 0 50px;
}
.game-container{
    margin: 0 0 40px 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    border: solid 20px;
    width: 420px;
    height: 420px;
    background-color: var(--black);
    box-shadow: 0 0 1000px 80px transparent;
}
.line{
    display: flex;
}
.start{
    width: 300px;
    height: 50px;
    display: flex;
    margin: auto;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s;
    background-color: var(--black);
    color: var(--background);
    font-size: 40px;
    font-weight: 300;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.start p{
    text-align: center;
    margin: auto;
    line-height: 50px;
}
.start:hover{
    transform: translateY(0.25rem);
    transform: scale(1.1);
}
.footer-holder div{
    display: flex;
    gap: 7px;
}
.footer-holder h1{
    color: var(--text);
    font-weight: 600;
    font-size: 24px;
}